* {
  font-family: 'Aleo', serif !important; }

.reveal h1 {
  font-size: 64px; }

.reveal h2 {
  font-size: 46px; }

.reveal h3 {
  font-size: 34px; }

.reveal iframe {
  height: 250px; }

.slide-background {
  background: #fedd02 !important; }

.slides section {
  /* Grid */
  /* Specific screens */ }
  .slides section:first-child div {
    color: #ee5253;
    background: #ffffffee;
    padding: 50px; }
  .slides section:first-child h1, .slides section:first-child h2 {
    color: #ee5253; }
  .slides section small {
    font-size: 24px;
    font-style: italic; }
  .slides section p {
    font-size: 30px;
    text-align: left; }
  .slides section h2 {
    font-size: 40px;
    text-align: left;
    margin-bottom: 0; }
  .slides section h3 {
    font-size: 34px;
    text-align: left;
    text-transform: initial;
    margin: 0 0 1em 1em;
    position: relative; }
    .slides section h3.no-arrow {
      margin: 1em 0; }
    .slides section h3:not(.no-arrow):before {
      content: '\02901';
      position: absolute;
      left: -40px;
      animation: moveSmallArrow 0.7s ease-in-out infinite alternate; }
  .slides section ul {
    list-style-type: square; }
    .slides section ul li {
      font-size: 30px;
      text-align: left;
      margin-bottom: 0.5em; }
  .slides section i {
    font-size: 20px;
    text-align: center;
    display: block; }
  .slides section.section-intro h2, .slides section.section-intro h3 {
    text-align: center; }
  .slides section .col2 {
    display: flex;
    align-items: center; }
    .slides section .col2 > * {
      width: 50%;
      padding: 1em; }
  .slides section .row2 {
    display: flex;
    flex-direction: column; }
    .slides section .row2 > * {
      max-height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center; }
  .slides section.intro h2, .slides section.intro h3, .slides section.intro p {
    text-align: center; }
  .slides section.sommaire .sommaire-parts {
    display: flex; }
  .slides section.sommaire ul {
    list-style-type: none;
    background-color: #fe5a3f;
    transform: rotate(1deg);
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .slides section.sommaire ul li {
      font-size: 28px;
      color: #fff;
      margin: 20px 0;
      line-height: 1em; }
      .slides section.sommaire ul li.sommaire-arrow {
        font-size: 80px;
        position: relative;
        line-height: 1px;
        text-align: center;
        animation: moveArrow 3s ease-in-out infinite alternate; }
  .slides section.css.section-intro h3 {
    margin-top: 3em;
    animation: animCSSIntro 1.2s ease-in-out infinite; }
    .slides section.css.section-intro h3 span {
      font-size: 60px;
      vertical-align: middle; }
  .slides section.js svg {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: block;
    visibility: hidden; }
  .slides section.js #square,
  .slides section.js #star {
    visibility: hidden; }

@keyframes moveArrow {
  from {
    left: -60px; }
  to {
    left: 0; } }

@keyframes moveSmallArrow {
  from {
    left: -40px; }
  to {
    left: -35px; } }

@keyframes animCSSIntro {
  0% {
    color: #c44569;
    transform: rotate3d(30, 20, 10, 15deg) rotate(0deg) translateX(0); }
  25% {
    color: #e15f41;
    transform: rotate3d(20, 20, 10, 15deg) rotate(360deg) translateX(0); }
  75% {
    color: #574b90;
    transform: rotate3d(20, 25, 5, 30deg) rotate(360deg) translateX(-2em); }
  100% {
    color: #e66767;
    transform: rotate3d(30, 20, 5, 15deg) rotate(360deg) translateX(2em); } }
