* {
    font-family: 'Aleo', serif !important;
}

.reveal {
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 46px;
    }

    h3 {
        font-size: 34px;
    }

    iframe {
        height: 250px;
    }
}

.slide-background {
    background: #fedd02 !important;
}

.slides {
    section {
        &:first-child {
            div {
                color:#ee5253;
                background: #ffffffee;
                padding: 50px;
            }

            h1, h2 {
                color:#ee5253;
            }
        }

        small {
            font-size: 24px;
            font-style: italic;
        }

        p {
            font-size: 30px;
            text-align: left;
        }

        h2 {
            font-size: 40px;
            text-align: left;
            margin-bottom: 0;
        }

        h3 {
            font-size: 34px;
            text-align: left;
            text-transform: initial;
            margin: 0 0 1em 1em;
            position: relative;

            &:before {
                content: '\02901';
                position: absolute;
                left: -40px;
                animation: moveSmallArrow 0.7s ease-in-out infinite alternate;
            }
        }

        ul {
            li {
                font-size: 30px;
                text-align: left;
                margin-bottom: 0.5em;
            }
        }

        i {
            font-size: 20px;
            text-align: center;
            display: block;
        }

        &.section-intro {
            h2, h3 {
                text-align: center;
            }
        }

        /* Grid */

        .col2 {
            display: flex;
            align-items: center;

            & > * {
                width: 50%;
                padding: 1em;
            }
        }

        /* Specific screens */

        &.intro {
            h2, h3, p {
                text-align: center;
            }
        }

        &.sommaire {
            .sommaire-parts {
                display: flex;
            }

            ul {
                list-style-type: none;
                background-color: #fe5a3f;
                transform: rotate(1deg);
                padding: 15px 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                li {
                    font-size: 28px;
                    color: #fff;
                    margin: 20px 0;
                    line-height: 1em;

                    &.sommaire-arrow {
                        font-size: 80px;
                        position: relative;
                        line-height: 1px;
                        text-align: center;
                        animation: moveArrow 1s ease-in-out infinite alternate;
                    }
                }
            }
        }
    }
}

@keyframes moveArrow {
    from {
        left: -60px;
    }

    to {
        left: 0;
    }
}

@keyframes moveSmallArrow {
    from {
        left: -40px;
    }

    to {
        left: -35px;
    }
}
